*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}


/* Top Bar */
.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color: black;
    height:45px;
}
@media (max-width:500px){
  .topbar{
    flex-direction:column;
    height:auto;
  }
 .topbar .top-left{
       clip-path: polygon(0 0,  0, 100% 100%, 0% 100%);
  }
}   
.top-left{
    background:red;
    color:white;
    padding:0 60px;
    display:flex;
    align-items:center;
    height:100%;
    clip-path: polygon(0 0, 95% 0, 100% 100%, 0% 100%);
}

.top-left span{
    margin-right:30px;
    font-size:14px;
}

.top-right{
    background:black;
    color:white;
    padding:0 60px;
    display:flex;
    align-items:center;
    height:100%;
}

.top-right i{
    margin-left:20px;
    cursor:pointer;
}

/* Header */
header{
    background:#eaeaea;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    position:relative;
    position: sticky;
}

.logo{
    font-size:28px;
    font-weight:bold;
    color:red;
}
@media (max-width:500px){
  .logo{
    font-size: 14px;
  }
}
nav{
    position:relative;
}

.menu{
    list-style:none;
    display:flex;
}

.menu li{
    margin-left:40px;
    font-size:18px;
    cursor:pointer;
}

.menu li a.active{
    color:red;
    border-bottom:2px solid red;
}

/* Hamburger */
.menu-icon{
    display:none;
    font-size:26px;
    cursor:pointer;
}

/* ===== Mobile ===== */
@media (max-width:500px){

    header{
        padding:15px 20px;
    }

    .menu{
        position:absolute;
        top:70px;
        right:0;
        background:white;
        width:300px;
        flex-direction:column;
        max-height:0;
        overflow:hidden;
        transition:max-height 0.4s ease;
        box-shadow:0 5px 10px rgba(0,0,0,0.2);
    }

    .menu li{
        margin:0;
        padding:11px;
        border-bottom:1px solid #ddd;
    }

    .menu-icon{
        display:block;
    }

    .menu.active{
        max-height:300px;
    }
}


.menu > li{
    position:relative;   /* IMPORTANT */
    margin-right:40px;
}

.menu a{
    text-decoration:none;
    color:black;
    font-size:18px;
    padding:8px 0;
    display:block;
}

/* ===== Dropdown ===== */
.dropdown-menu{
    position:absolute;
    top:100%;
    right: 15px;
    background:white;
    width:180px;
   
    z-index: 9999;
    list-style:none;
    box-shadow:0 5px 10px rgba(0,0,0,0.2);
     overflow: y;
    display:none;  /* Hidden by default */
}

.dropdown-menu li{
    border-bottom:1px solid #eee;
}

.dropdown-menu a{
    padding:12px 0px;
    font-size:15px;
}

.dropdown-menu a:hover{
    background:#f2f2f2;
    color:red;
}

/* ===== Hover Trigger ===== */
.dropdown:hover .dropdown-menu{
    display:block;
}
@media (max-width:500px){

    .menu{
        flex-direction:column;
    }

    .menu > li{
        margin-right:0;
        margin-bottom:2px;
    }

    .dropdown-menu{
        position:static;
        box-shadow:none;
        max-height:0;
        overflow:hidden;
        opacity:1;
        visibility:visible;
        transform:none;
        transition:max-height 0.3s ease;
    }

    .dropdown.open .dropdown-menu{
        max-height:200px;
      overflow-y: auto;
    }
}
button{
    background:#df0a0a;
    color:#fff;
    border:none;
    padding:10px 20px;
    border-radius:4px;
    cursor:pointer;
}
 .menu button a{
    color:#fff;
    text-decoration:none;
}
button:hover{
    background:#080808;
    color: #ddd;
}